/* Old items superceded by bootstrap
body{
	background: black;
	color: white;
}

a{
	color: grey;
	text-decoration: none;
}

a:hover{
	color: black;
	background: white;
	text-decoration: none;
}

.green_link:hover{
	color:green;
	background: grey;
}

h1{
	font-family: "Times New roman" serif;
	font-size: 40pt;
}

.indent{
	margin-left:10px;
}

.gap_below{
	margin-bottom:25px;
}
*/

/* Use this to put borders around things */
.thin_border{
	border: 1px solid black;
}